<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div style="align-items: center; display: flex; height: 70px; justify-content: flex-start;
                        padding: 0px 70px; box-shadow: 0 5px 10px rgba(0,0,0,.1);">
            <img src="cid:logo" alt="Logo" height="40px"/>
        </div>
        <div style="padding: 20px 70px; color: #000064;">
            <h2>Solicitud Devolución</h2>
            <table style="margin: 20px 0px; width: 100%;">
                <tbody>
                <tr>
                    <th style="text-align: left;"># Codigo:</th>
                    <td style="text-align: left;">{{codigo}}</td>
                    <th style="text-align: left;">Motivo:</th>
                    <td style="text-align: left;">{{motivo}}</td>
                    <th style="text-align: left;">P. Asignada:</th>
                    <td style="text-align: left;">{{asignado}}</td>
                    <th style="text-align: left;">Documento:</th>
                    <td style="text-align: left;">{{num_doc}}</td>
                </tr>
                <tr>
                    <th style="text-align: left;">Estado:</th>
                    <td style="text-align: left;">{{estado}}</td>
                    <th style="text-align: left;">Fecha:</th>
                    <td style="text-align: left;">{{fecha}}</td>
                    <th style="text-align: left;">Hora:</th>
                    <td style="text-align: left;">{{hora}}</td>
                </tr>
                </tbody>
            </table>
            <table style="width: 100%;">
                <thead>
                <tr>
                    <td></td>
                    <td>Descripción</td>
                    <td>Cod. Prod.</td>
                    <td>cantidad</td>
                </tr>
                </thead>
                <tbody id="detalle">
                {{#each DetalleSolicitudArticulos}}
                    <tr>
                        <td style="padding: 0px; width: 10px; background-color: #399AFF; border-radius: 5px;"></td>
                        <td style="background-color: #eeeeee; padding: 5px 8px; border-radius: 5px;">{{nombre}}</td>
                        <td style="background-color: #eeeeee; padding: 5px 8px; border-radius: 5px;">{{codigo}}</td>
                        <td style="background-color: #eeeeee; padding: 5px 8px; border-radius: 5px;">{{cantidad}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div style="align-items: center; display: flex; height: 70px; justify-content: flex-start;
                        padding: 0px 70px; background-color: #000064; color: #FFFFFF;">
            <h4>Consultas: helpin@grupotawa.com</h4>
        </div>
    </body>
</html>
