<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div style="align-items: center; display: flex; height: 70px; justify-content: flex-start;
                        padding: 0px 70px; box-shadow: 0 5px 10px rgba(0,0,0,.1);">
            <img src="cid:logo" alt="Logo" height="40px"/>
        </div>
        <div style="padding: 20px 70px; color: #000064;">
            <h2>Incidente</h2>
            <table style="margin: 20px 0px; width: 100%;">
                <tbody>
                <tr>
                    <th style="text-align: left;">Código:</th>
                    <td style="text-align: left;">{{codigo}}</td>
                    <th style="text-align: left;">Serie:</th>
                    <td style="text-align: left;">{{hasSerie serie}}</td>
                    <th style="text-align: left;">Negocio:</th>
                    <td style="text-align: left;">{{negocio}}</td>
                </tr>
                <tr>
                    <th style="text-align: left;">Código Artículo:</th>
                    <td style="text-align: left;">{{codigo_articulo}}</td>
                    <th style="text-align: left;">Articulo:</th>
                    <td style="text-align: left;">{{articulo}}</td>
                    <th style="text-align: left;">Comentario:</th>
                    <td style="text-align: left;">{{comentario}}</td>
                </tr>
                <tr>
                    <th style="text-align: left;">Almacén:</th>
                    <td style="text-align: left;">{{almacen}}</td>
                    <th style="text-align: left;">Estado:</th>
                    <td style="text-align: left;">{{estado}}</td>
                    <th style="text-align: left;">Incidente:</th>
                    <td style="text-align: left;">{{incidente}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="align-items: center; display: flex; height: 70px; justify-content: flex-start;
                        padding: 0px 70px; background-color: #000064; color: #FFFFFF;">
            <h4>Consultas: helpin@grupotawa.com</h4>
        </div>
    </body>
</html>
